<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqu.card.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cqu.card.model.Account">
    <id column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="ACCOUNT_PASSWORD" jdbcType="VARCHAR" property="accountPassword" />
    <result column="ACCOUNT_TYPE" jdbcType="VARCHAR" property="accountType" />
  </resultMap>
  <sql id="Base_Column_List">
    ACCOUNT_ID, ACCOUNT_PASSWORD, ACCOUNT_TYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from account
    where ACCOUNT_ID = #{accountId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from account
    where ACCOUNT_ID = #{accountId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cqu.card.model.Account">
    insert into account (ACCOUNT_ID, ACCOUNT_PASSWORD, ACCOUNT_TYPE
      )
    values (#{accountId,jdbcType=VARCHAR}, #{accountPassword,jdbcType=VARCHAR}, #{accountType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cqu.card.model.Account">
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="accountPassword != null">
        ACCOUNT_PASSWORD,
      </if>
      <if test="accountType != null">
        ACCOUNT_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="accountPassword != null">
        #{accountPassword,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cqu.card.model.Account">
    update account
    <set>
      <if test="accountPassword != null">
        ACCOUNT_PASSWORD = #{accountPassword,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null">
        ACCOUNT_TYPE = #{accountType,jdbcType=VARCHAR},
      </if>
    </set>
    where ACCOUNT_ID = #{accountId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cqu.card.model.Account">
    update account
    set ACCOUNT_PASSWORD = #{accountPassword,jdbcType=VARCHAR},
      ACCOUNT_TYPE = #{accountType,jdbcType=VARCHAR}
    where ACCOUNT_ID = #{accountId,jdbcType=VARCHAR}
  </update>
</mapper>