<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqu.card.mapper.ExamEntityMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cqu.card.model.ExamEntity">
    <id column="EXAM_ENTITY_ID" jdbcType="VARCHAR" property="examEntityId" />
    <result column="RECARD_ID" jdbcType="VARCHAR" property="recardId" />
    <result column="BILL_ID" jdbcType="VARCHAR" property="billId" />
    <result column="EXAM_ID" jdbcType="VARCHAR" property="examId" />
    <result column="EXAM_ENTITY_TIME" jdbcType="TIMESTAMP" property="examEntityTime" />
    <result column="DRUG_STATE" jdbcType="VARCHAR" property="drugState" />
    <result column="EXAM_ENTITY_PRICE" jdbcType="REAL" property="examEntityPrice" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.edu.cqu.card.model.ExamEntity">
    <result column="EXAM_ENTITY_REPORT" jdbcType="LONGVARCHAR" property="examEntityReport" />
  </resultMap>
  <sql id="Base_Column_List">
    EXAM_ENTITY_ID, RECARD_ID, BILL_ID, EXAM_ID, EXAM_ENTITY_TIME, DRUG_STATE, EXAM_ENTITY_PRICE
  </sql>
  <sql id="Blob_Column_List">
    EXAM_ENTITY_REPORT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from exam_entity
    where EXAM_ENTITY_ID = #{examEntityId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from exam_entity
    where EXAM_ENTITY_ID = #{examEntityId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cqu.card.model.ExamEntity">
    insert into exam_entity (EXAM_ENTITY_ID, RECARD_ID, BILL_ID, 
      EXAM_ID, EXAM_ENTITY_TIME, DRUG_STATE, 
      EXAM_ENTITY_PRICE, EXAM_ENTITY_REPORT)
    values (#{examEntityId,jdbcType=VARCHAR}, #{recardId,jdbcType=VARCHAR}, #{billId,jdbcType=VARCHAR}, 
      #{examId,jdbcType=VARCHAR}, #{examEntityTime,jdbcType=TIMESTAMP}, #{drugState,jdbcType=VARCHAR}, 
      #{examEntityPrice,jdbcType=REAL}, #{examEntityReport,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cqu.card.model.ExamEntity">
    insert into exam_entity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="examEntityId != null">
        EXAM_ENTITY_ID,
      </if>
      <if test="recardId != null">
        RECARD_ID,
      </if>
      <if test="billId != null">
        BILL_ID,
      </if>
      <if test="examId != null">
        EXAM_ID,
      </if>
      <if test="examEntityTime != null">
        EXAM_ENTITY_TIME,
      </if>
      <if test="drugState != null">
        DRUG_STATE,
      </if>
      <if test="examEntityPrice != null">
        EXAM_ENTITY_PRICE,
      </if>
      <if test="examEntityReport != null">
        EXAM_ENTITY_REPORT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="examEntityId != null">
        #{examEntityId,jdbcType=VARCHAR},
      </if>
      <if test="recardId != null">
        #{recardId,jdbcType=VARCHAR},
      </if>
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="examId != null">
        #{examId,jdbcType=VARCHAR},
      </if>
      <if test="examEntityTime != null">
        #{examEntityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="drugState != null">
        #{drugState,jdbcType=VARCHAR},
      </if>
      <if test="examEntityPrice != null">
        #{examEntityPrice,jdbcType=REAL},
      </if>
      <if test="examEntityReport != null">
        #{examEntityReport,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cqu.card.model.ExamEntity">
    update exam_entity
    <set>
      <if test="recardId != null">
        RECARD_ID = #{recardId,jdbcType=VARCHAR},
      </if>
      <if test="billId != null">
        BILL_ID = #{billId,jdbcType=VARCHAR},
      </if>
      <if test="examId != null">
        EXAM_ID = #{examId,jdbcType=VARCHAR},
      </if>
      <if test="examEntityTime != null">
        EXAM_ENTITY_TIME = #{examEntityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="drugState != null">
        DRUG_STATE = #{drugState,jdbcType=VARCHAR},
      </if>
      <if test="examEntityPrice != null">
        EXAM_ENTITY_PRICE = #{examEntityPrice,jdbcType=REAL},
      </if>
      <if test="examEntityReport != null">
        EXAM_ENTITY_REPORT = #{examEntityReport,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where EXAM_ENTITY_ID = #{examEntityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.edu.cqu.card.model.ExamEntity">
    update exam_entity
    set RECARD_ID = #{recardId,jdbcType=VARCHAR},
      BILL_ID = #{billId,jdbcType=VARCHAR},
      EXAM_ID = #{examId,jdbcType=VARCHAR},
      EXAM_ENTITY_TIME = #{examEntityTime,jdbcType=TIMESTAMP},
      DRUG_STATE = #{drugState,jdbcType=VARCHAR},
      EXAM_ENTITY_PRICE = #{examEntityPrice,jdbcType=REAL},
      EXAM_ENTITY_REPORT = #{examEntityReport,jdbcType=LONGVARCHAR}
    where EXAM_ENTITY_ID = #{examEntityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cqu.card.model.ExamEntity">
    update exam_entity
    set RECARD_ID = #{recardId,jdbcType=VARCHAR},
      BILL_ID = #{billId,jdbcType=VARCHAR},
      EXAM_ID = #{examId,jdbcType=VARCHAR},
      EXAM_ENTITY_TIME = #{examEntityTime,jdbcType=TIMESTAMP},
      DRUG_STATE = #{drugState,jdbcType=VARCHAR},
      EXAM_ENTITY_PRICE = #{examEntityPrice,jdbcType=REAL}
    where EXAM_ENTITY_ID = #{examEntityId,jdbcType=VARCHAR}
  </update>
</mapper>