<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqu.hospital.mapper.StaffMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cqu.hospital.model.Staff">
    <id column="STAFF_ID" jdbcType="VARCHAR" property="staffId" />
    <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="STAFF_NAME" jdbcType="VARCHAR" property="staffName" />
    <result column="STAFF_PART" jdbcType="VARCHAR" property="staffPart" />
  </resultMap>
  <sql id="Base_Column_List">
    STAFF_ID, ACCOUNT_ID, STAFF_NAME, STAFF_PART
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from staff
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from staff
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cqu.hospital.model.Staff">
    insert into staff (STAFF_ID, ACCOUNT_ID, STAFF_NAME, 
      STAFF_PART)
    values (#{staffId,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, #{staffName,jdbcType=VARCHAR}, 
      #{staffPart,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cqu.hospital.model.Staff">
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        STAFF_ID,
      </if>
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="staffName != null">
        STAFF_NAME,
      </if>
      <if test="staffPart != null">
        STAFF_PART,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffPart != null">
        #{staffPart,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cqu.hospital.model.Staff">
    update staff
    <set>
      <if test="accountId != null">
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null">
        STAFF_NAME = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffPart != null">
        STAFF_PART = #{staffPart,jdbcType=VARCHAR},
      </if>
    </set>
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cqu.hospital.model.Staff">
    update staff
    set ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      STAFF_NAME = #{staffName,jdbcType=VARCHAR},
      STAFF_PART = #{staffPart,jdbcType=VARCHAR}
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </update>
</mapper>